<!DOCTYPE html>
<html>
  <head>
    <title>CSS Like Dislike Buttons</title>

    <!-- (A) LOAD CSS + JS -->
    <link rel="stylesheet" href="lidi.css"/>
    <script src="lidi.js"></script>
  </head>
  <body>
    <!-- (B) CREATE LIKE/DISLIKE BUTTON HERE -->
    <div id="demoB"></div>

    <!-- (C) JAVASCRIPT -->
    <script>
    var demo = lidi.create({
      count : [123, 45], // (C1) INIT LIKES & DISLIKES
      hWrap : document.getElementById("demoB"),

      // (C2) UPDATE LIKES & DISLIKES COUNT METHOD 1
      // SEND NEW STATUS TO SERVER, SERVER RESPONDS WITH NEW COUNT
      onChange : (status, recount) => {
        var data = new FormData();
        data.append("status", status);
        fetch("2-dummy.txt", { method: "POST", body: data })
        .then(res => res.json())
        .then((update) => { recount(update); })
        .catch((err) => { console.error(err); });
      }
    });

    // (C3) UPDATE LIKES & DISLIKES COUNT METHOD 2
    // MANUALLY CALL THE RECOUNT METHOD
    // demo.recount([999, 888]);
    </script>
  </body>
</html>
